<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Claim Search</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar
    placeholder="Claim Search"
    searchIcon="search"
    debounce="500"
    (ionChange)="searchTerm$.next($event.target?.value)"

    [(ngModel)]="claimSearch"
  >

  </ion-searchbar>
  <div class="centerIonSpinner">
      <ion-spinner *ngIf="claimSearch && results.length == 0"></ion-spinner>
  </div>
  <ion-list>
      <ion-card *ngFor="let result of results"
      [routerLink]="['/claim-detail/', result.docNumber]"
      >
        <ion-slides pager='true' [options]='slideOpts'>
          <ion-slide *ngFor="let slide of result.picBufferArray">
              <ion-img class="ionImage" [src]="slide"></ion-img>
            
          </ion-slide>
        </ion-slides>
  
  
        <ion-item href="#" class="">
          <ion-card-header>{{result.title}}</ion-card-header>
          
        </ion-item>
        <ion-label>{{result.docNumber}}</ion-label>
  
      </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreTitles($event)">
    <ion-infinite-scroll-content loadSpinner="bubble" loadingText="loading titles..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
