<ion-header>
  <ion-toolbar>
    <ion-title>Patent Claims Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    placeholder="Claim Text Search"
    searchIcon="search"
    debounce="500"
    [(ngModel)]="searchText"
  ></ion-searchbar>
  <div *ngIf="(patentDocument$ | async) as doc">
    <ion-card>
      <ion-card-header>
        <div *ngFor="let title of doc">
          <ion-card-subtitle *ngFor="let titleName of title.PATENT_TITLE">
            {{ titleName | sentencecase }}
          </ion-card-subtitle>
        </div>
      </ion-card-header>
      <div *ngFor="let docNumber of doc">
        <ion-card-content *ngFor="let docNum of docNumber.PATENT_NUMBER">
          <br />
          Patent Number: {{ docNum }}
        </ion-card-content>
      </div>
      <div *ngFor="let assignee of doc">
        <ion-card-content *ngFor="let assigneeName of assignee.ASSIGNEE_NAME">
          Owners: {{ assigneeName | titlecase }}
        </ion-card-content>
      </div>
      <hr />
      <div *ngFor="let inventor of doc">
        <!-- <div *ngFor="let inventorAddress of inventor.INVENTOR_ADDRESS"></div> -->
        <div class="inventors">Inventors:</div>
        <ion-grid>
          <ion-row>
            <ion-col
              size="6"
              *ngFor="let inventorName of inventor.INVENTOR_NAME"
            >
              <span
                class="inventorsPatents"
                (click)="inventorsPatents(inventorName)"
                >{{ inventorName | titlecase }}</span
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <hr />
      <div *ngFor="let attorney of doc">
        <div class="inventors">Attorneys:</div>
        <ion-card-content *ngFor="let attorneyName of attorney.ATTORNEY_NAME">
          {{ attorneyName | titlecase }}
        </ion-card-content>
      </div>
      <ion-item [routerLink]="['/related-patents', id]">
        Related Patents
      </ion-item>
      
      <div  *ngIf="patentImages$ | async as images">

          <ion-slides class="slideDiv" pager='true' [options]='slideOpts'>
            <ion-slide *ngFor="let slideImage of images">
              <ion-img   [src]="slideImage"></ion-img>
            </ion-slide>
          </ion-slides>
      </div>

      <!-- <h2><a [routerLink]="['/tabs/patent-document', id]" fragment="relatedPatents">Related Patents</a></h2> -->
      <hr />
      <div *ngFor="let claim of doc">
        <div class="inventors">Claims:</div>
        <ion-card-content
          *ngFor="let claim of (claim.CLAIM | filter: searchText)"
        >
          <span
            [innerHTML]="claim | sentencecase | highlight: searchText"
          ></span>
          <!-- {{ desc | sentencecase }} -->
          <br />
        </ion-card-content>
      </div>
    </ion-card>
  </div>

  <!-- <ion-item>
    <ion-label>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="itemExpanded">
        Hello People
      </expandable>
    </ion-label>
  </ion-item> -->
</ion-content>
