<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="titles">
      <ion-icon name="book"></ion-icon>
      <ion-label>Title</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="descriptions">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Description</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="claims">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Claim</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classification">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Classification</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
