<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patent Animal</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="homeTitle">
    Knowledge Graph of USPTO Data. 
  </div> -->
<div class="homeTitle">USPTO Knowledge Graph</div>

<ion-content padding class="background">
  <ion-button [routerLink]="['/learnmore']" color="success">Learn More</ion-button>

</ion-content>

<!-- <div class="homeDesc" >
    <p>You can perform text searches over title,
        abstract, claim, description for all patents filed in the past 10 years.</p> 
    <p>You may also narrow your search by classification code before searching titles.</p>
    <p>The search results  will contain the images from the USPTO data.</p>
  </div> -->
