<!-- <ion-header>
  <ion-toolbar>
    <ion-title>learnmore</ion-title>
  </ion-toolbar>
</ion-header> -->

<div class="greatIdea">
    <h1>Research and discover patents</h1>

    <!-- <h3>Want to make sure no-one else has thought of it first?</h3> -->
    <p>Perform text searches over title,
      abstract, claim, and description for patents filed in the past 10 years*.</p> 
      <hr>
    <p>Narrow your search by classification code before searching titles.</p>
    <hr>
    <p>Results  will contain the images from the USPTO data.</p>

  </div>

<ion-content class="background">
  <ion-button [routerLink]="['/tabs/titles']" color="success">Login</ion-button>

  
    


</ion-content>

<p class="asterix">* once knowledge graph fully loaded</p>