ion-content.background{
    --background: url(../../../assets/background/chatstory.svg) 0 0/100% 100% no-repeat;
    background-color: #bdadad;
}
ion-button{
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -68.5px;
    width: 140px;
}
.greatIdea{
    text-align: left;
    padding: 20px;
    // margin: 20px;
    background-color: #bdadad;
    margin-bottom: -127px;
    z-index: 1;

}

.asterix{
    padding: 0px 0px 10px 10px;
    margin: 0;
    background-color: #bdadad;
    font-size: .75em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    // border-style: inset;
    border-width: 1px;
  }